<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @work.title %>
</p>

<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>

<h2>Sheets</h2>
<ul>
  <% @sheets.order(number: :asc).each do |sheet| %>
    <li><%= link_to "#{sheet.number}: #{sheet.title}", sheet %></li>
  <% end %>
</ul>
<%= link_to 'Add Sheet', new_work_sheet_path(@work) %>

<hr/>

<%= form_for @work, html: {method: :delete} do |f| %>
  <%= f.submit "Destroy This Work" %>
<% end %></td>
