<p id="notice"><%= notice %></p>

<h1>Sheets</h1>

<table>
  <thead>
    <tr>
      <th>Work</th>
      <th>Number</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @sheets.order(work_id: :asc, number: :asc).each do |sheet| %>
      <tr>
        <td><%= sheet.work_id %></td>
        <td><%= sheet.number %></td>
        <td><%= link_to sheet.title, sheet %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sheet', new_sheet_path %>
