<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @sheet.number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @sheet.title %>
</p>

<p>
  <strong>Work:</strong>
  <%= link_to @sheet.work.title, @sheet.work %>
</p>

<%= link_to 'Edit', edit_sheet_path(@sheet) %> |
<%= link_to 'Back', sheets_path %>
