<p id="notice"><%= notice %></p>

<h1>Pages</h1>

<table>
  <thead>
    <tr>
      <th>Work</th>
      <th>Sheet</th>
      <th>Row</th>
      <th>Col</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @pages.order(sheet_id: :asc, row: :asc, col: :asc).each do |page| %>
      <tr>
        <td><%= page.sheet.work_id %></td>
        <td><%= page.sheet_id %></td>
        <td><%= page.row %></td>
        <td><%= page.col %></td>
        <td><%= link_to page.title, page %></td>
      </tr>
    <% end %>
  </tbody>
</table>
